<table>
	<thead>
		<tr>
			<th> Climate Name </th>
			<th> # of Trees </th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
		<tr>
			<td> {{this.name}} </td>
			<td> {{this.count}} </td>
		</tr>
		{{/each}}
	</tbody>
</table