<table>
	<thead>
		<tr>
			<th style="text-decoration:underline"> Name </th>
			<th> Precipitation(inch/year) </th>
			<th> Elevation (feet) </th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
		<tr>
			<td> {{this.name}} </td>
			<td> {{this.precipitation}} </td>
			<td> {{this.elevation}} </td>
		</tr>
		{{/each}}
	</tbody>
</table