<table>
	<thead>
		<tr>
			<th> Genus </th>
			<th> Species </th>
			<th> Common Name </th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
		<tr>
			<td> {{this.genus}} </td>
			<td> {{this.species}} </td>
			<td> {{this.common_name}} </td>
		</tr>
		{{/each}}
	</tbody>
</table