<table>
	<thead>
		<tr>
			<th style="text-decoration:underline"> Tree Species </th>
			<th style="text-decoration:underline"> Soil Name </th>
		</tr>
	</thead>
	<tbody>
		{{#each data}}
		<tr>
			<td> {{this.t_species}} </td>
			<td> {{this.s_name}} </td>
		</tr>
		{{/each}}
	</tbody>
</table